ul,h1,h2,h3,h4,h5,h6,p,pre,ol,dl,dt,dd,body,input,textarea,select{margin:0; padding:0;list-style:none;font-family:"宋体"; }
body a{text-decoration: none;font-size: 12px; }
body{background-color: #fff;}
img{
	border: 0;
}
a{
	text-decoration: none;
}
*{
	font-family: "微软雅黑","宋体","sans-serif"
}